[submodule "_MSBuildExtensions"]
	path = _MSBuildExtensions
	url = ssh://git@bitbucket.org/dpr-incom/msbuildextensions.git
[submodule "_Scripts"]
	path = _Scripts
	url = ssh://git@bitbucket.org/dpr-incom/ci_scripts.git
